* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#main {
    min-height: 100vh;
    background-color: #e9dfdf;
}

#nav {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4vw;
}
#imgg img{
    width: 10px;
}

#nav a {
    text-decoration: none;
    font-weight: 1000;
    text-transform: capitalize;
    font-size: 14px;
    color: black;
    margin: 5px;
}

#nav h1 {
    font-size: 1.5rem;
}

#new img {
    width: 100%;
}

.full-width-container {
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: calc(33.33% - 20px);
    margin: 20px 0;
    background-color: #8d2d2d;
    -webkit-box-shadow: -32px -19px 10px 3px #000000;
-moz-box-shadow: -32px -19px 10px 3px #000000;
box-shadow: -32px -19px 10px 3px #000000;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card p {
    padding: 25px;
}

.card-content {
    padding: 20px;
}

.card:hover {
    transform: scale(1.08);
}

#headding {
    text-transform: uppercase;
    text-align: center;
    color: rgb(4, 4, 4);
    background-color: #e9dfdf;
    padding: 10px;
}

footer {
    background-color: #fff9f9;
    color: #040303;
    padding: 20px;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #070707;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #3ec220;
}

@media only screen and (max-width: 768px) {
    #nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav h1 {
        margin-top: 10px;
    }

    #nav #link {
        margin-top: 10px;
    }

    .card {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .card {
        width: 100%;
    }
}
